---
# Ryefield Society (c)
# 2021
layout: default
title: Home
---

<div class="carrousel">
{% for item in site.data.discography %}
{% assign release = item[1] %}
{% if release.is_featured == true %}
{% unless release.is_hidden %}
    <div class="release">
        <a href="{% link {{ release.page }} %}">
        <img class="cover" src="{{ release.cover_url }}" alt="{{ release.title }} cover art"/>
        <br>
        <p id="legend">{{ release.title }}&nbsp;-&nbsp;{{ release.release_date | date: "%Y" }}</p>
        </a>
    </div>
{% endunless %}
{% endif %}
{% endfor %}
</div>