h1 {
  text-align: center;
  border-bottom: solid black 1px;
}

.rows {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.entry {
  display: flex;
  padding-top: 2em;
  padding-bottom: 2em;
}

.entry img {
  max-width: 250px;
}

.entry-metadata {
  padding-left: 2em;
}
