h1 {
  text-align: center;
  border-bottom: solid black 1px;
}

.rows {
  display: block;
  margin-bottom: 1rem;
}

.rows .entry {
  display: flex;
  flex-direction: row;  /* or column if you want image above text */
  width: 100%;         /* prevents them from sitting side by side */
  box-sizing: border-box;
}

.entry-metadata {
  display: block;
  width: 100%;
  padding-left: 2em;
}
