---
# There is redundant code here...
# ...That's the best we can do with Liquid at the moment (2022).
layout: default
title: Discography
permalink: /discography
css:
  - discography.css
---


<h1>Albums</h1>
<div class="rows">
{% for item in site.data.discography %}
{% assign release = item[1] %}
{% unless release.is_hidden %}
{% if release.type == "Album" %}
{% include release.html %}
{% endif %}
{% endunless %}
{% endfor %}
</div>

<h1>EPs</h1>

<div class="rows">
{% for item in site.data.discography %}
{% assign release = item[1] %}
{% unless release.is_hidden %}
{% if release.type == "EP" %}
{% include release.html %}
{% endif %}
{% endunless %}
{% endfor %}
</div>

<h1>In compilations</h1>

<div class="rows">
{% for item in site.data.discography %}
{% assign release = item[1] %}
{% unless release.is_hidden %}
{% if release.type == "Compilation" %}
{% include release.html %}
{% endif %}
{% endunless %}
{% endfor %}
</div>

<!-- h1>Singles</h1>

<div class="rows">
{% for item in site.data.discography %}
{% assign release = item[1] %}
{% unless release.is_hidden %}
{% if release.type == "Single" %}
{% include release.html %}
{% endif %}
{% endunless %}
{% endfor %}
</div -->

<h1>Remixes</h1>

<div class="rows">
{% for item in site.data.discography %}
{% assign release = item[1] %}
{% unless release.is_hidden %}
{% if release.type == "Remix" or release.type == "Edit" %}
{% include release.html %}
{% endif %}
{% endunless %}
{% endfor %}
</div>